$primary-color: #75ff9a;

$bg-main: #1a1a1a;
$bg-code: #000000;

$color-grey: #484848;

$font-size: 1rem;
$font-size-s: 0.8rem;
$font-size-l: 1.75rem;
$font-size-xl: 2.5rem;

$foreground-main: #fff;
$foreground-code: $primary-color;

$side-margins: 2rem;

$small-padding: 0.5rem;
$standard-padding: 1rem;
$large-padding: 2rem;

$small-spacing: 0.5rem;
$standard-spacing: 1rem;
$large-spacing: 2rem;